@import url(./normalize.css);
@import url(./reset.css);
/*본문 스타일 */

body {
  background-color: whitesmoke;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, 
  "Apple SD Gothic Neo",  Roboto,
   "Noto Sans KR", "Segoe UI", "Malgun Gothic", 
   "Apple Color Emoji", "Segoe UI Emoji", 
   "Segoe UI Symbol", sans-serif;
  font-weight: 120;

}

/*레이아웃 (셀럭터 그룹핑)!!!!! 가독성을 이용하는 거다 !!!!! */
.header, .vis, .main, .slogan , .footer-inner {

  width: 940px;
  box-sizing: border-box;
  margin: 0 auto; /*block 요소 가운데 정렬 */
}

/*헤더 */
.header {
  background-color: pink;
  padding: 0 30px;
  min-height: 15vh;
}

/*비주얼*/
.vis {
  background-color: orange;
  height: 10vh;
}
/*메인*/
.main {
  background-color: lightgreen;
  height: 50vh;
}

/*슬로건*/
.slogan {
  background-color: skyblue;
  height: 10vh;
}

/*푸터*/
.footer {
  background-color: gray;
  color: coral;
}
.footer-inner {
  min-height: 15vh;
  background-color: silver;
}